@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #101828;
  --base-white: #ffffff;
  --gray-900: #101828;
  --gray-600: #475467;
  --gray-500: #667085;
  --gray-300: #d5d7da;
  --gray-100: #f2f4f7;
  --blue-light-400: #36bffa;
  --blue-light-100: #e0f2fe;
  --active-pagination: #0086c9;
  --breadcrumb-gray: #717680;
  --breadcrumb-blue: #026aa2;
}

body {
  background: var(--background);
  color: var(--foreground);
}
